[project]
	description = cross-platform download accelerator
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Li Xiaoyu (lee3164)
[access "refs/for/refs/*"]
	read = group user/Li Xiaoyu (lee3164)
	push = group user/Li Xiaoyu (lee3164)
	label-Code-Review = -2..+2 group user/Li Xiaoyu (lee3164)
	label-Verified = -1..+1 group user/Li Xiaoyu (lee3164)
	rebase = group user/Li Xiaoyu (lee3164)
	removeReviewer = group user/Li Xiaoyu (lee3164)
	submit = group user/Li Xiaoyu (lee3164)
[access "refs/heads/*"]
	read = group user/Li Xiaoyu (lee3164)
	create = group user/Li Xiaoyu (lee3164)
	push = +force group user/Li Xiaoyu (lee3164)
	pushMerge = group user/Li Xiaoyu (lee3164)
[access "refs/tags/*"]
	push = group user/Li Xiaoyu (lee3164)
	push = +force group user/Li Xiaoyu (lee3164)
[submit]
	action = rebase if necessary
